@model Model.DB.ResoultSaveModel



    <tr>
    <td>@Html.DisplayFor(x=>x.TestName) </td>
    <td> @Html.DisplayFor(x=>x.Mark) </td>
     <td>@Html.DisplayFor(x=>x.Started) </td>
    <td> @Html.DisplayFor(x=>x.Finished) </td>
    </tr>
