@model MvcApplication16.Models.TestModel

<div class="ShowTest">
    @Html.ActionLink(Model.title, "index", "Conform", new { TestId = Model.Id, TestName = Model.title }, null)
    <div class="HiddenText"> <p>@Model.Description</p> </div>
</div>